.navbar-brand{
  font-size: 25px;
}

.nav-link{
  font-size: 20px;
}
.separator {
    font-size: 26px;
    color: white;
}

#textarea{
  width: 100%;
}

.contactext{
    font-size: 30px;
    font-weight: bolder;
    margin-right: 5px;
    margin-left: 5px;
}

.contactkep{
  color: forestgreen;
}

.contactkep:hover{
  color: ghostwhite;
}
