.col-lg-4{
  text-align: center;
}﻿

.nav-item .active{
  font-size: 23px;
}

.navbar-brand{
  font-size: 25px;
}

.separator{
  color: white;
  font-size: 26px;
}

.nav-link{
  font-size: 20px;
}

.contactext{
    font-size: 30px;
    font-weight: bolder;
    margin-right: 5px;
    margin-left: 5px;
}

.contactkep{
  color: forestgreen;
}

.contactkep:hover{
  color: ghostwhite;
}
